/* Font family added */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;

    color: #424242;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

nav li a {
    text-decoration: none;
}

/* banner styles */

.banner-content {
    max-width: 826px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-description {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    padding: 21px 24px 20px 25px;
    margin-top: 32px;
}

.banner img {
    margin-top: 50px;
    width: 100%;
}

/* Main style */

main {
    max-width: 1440px;
    margin: 85px auto;
}

/* team section */

.teams-container {
    display: flex;
    align-items: center;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    margin-left: 76px;
}

.quick-list {
    color: #727272;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.of-our {
    color: #131313;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.features {
    color: #FF900E;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.teams-description {
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 537px;
}

/* facts styles */

.facts-title {
    color: #131313;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 130px;
}

.facts-description {
    width: 542px;
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24pxf;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.card {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 241.831px;
    height: 241.831px;
    padding-top: 45px;
}

.card-stats {
    color: #424242;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
}

.card-title {
    color: #727272;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;
}

/* Responsive styles */

@media screen and (max-width:576px) {
    header {
        padding: 15px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
        gap: 20px;
    }

    .banner-title {
        font-size: 54px;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-container {
        flex-direction: column;
    }

    .teams-description {
        width: 100%;
    }

    .facts-card-container {
        flex-direction: column;
        gap: 30px;
    }

    .facts-description {
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    nav {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }

    .teams-container {
        flex-direction: column;
    }

    .facts-card-container {
        flex-wrap: wrap;
        gap: 20px;
    }
}